*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
.s-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.back-link{
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;

}
.back-link{
    font-size: 1.1rem;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 30px;
}
.service-card{
    text-align: center;
    padding: 25px;
    text-decoration: none;
    color: #333;
}
.service-icon{
    font-size: 2.8rem;
    color: #3498db;
    margin-bottom: 20px;

}
.service-icon:hover{
    color: #2980b9;
    transform: scale(1.1);
    transition: transform 0.3s, color 0.3s;
}
.service-card h3{
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.s-section-title{
    font-size: 2.2rem;
    margin-bottom: 50px;
    color: #333;
    text-align: center;
}
.s-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}
.s-card:hover{
    transform: translateY(-5px);
}

@media (max-width: 600px){
    .services-grid{
        grid-template-columns: 1fr;
    }
    /* nav{
            margin-top: 15px;
        } */
    nav Link{
            margin: 10px;
        }
    .main1{
            padding: 80px 15px;
        }
    .main1 h2{
            font-size: 2rem;
        }
    .main1 p{
            font-size: 1rem;
    }
    .step{
        padding: 15px;
    }
}

@media (max-width: 900px){
    .main1 h2{
            font-size: 2rem;
        }
    .main1 p{
            font-size: 1rem;
    }
    nav Link{
            margin: 10px;
        }
    .services-grid{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media (max-width: 1200px){
    .s-container{
        width: 95%;
    }
    .main1 {
        padding: 100px 30px;
    }
    .main1 h2{
        font-size: 2.5rem;
    }
}
@media (min-width: 1400px){
    .s-container{
        max-width: 1400px;
    }
    .main1 {
        padding: 150px 50px;
    }
    .main1 h2{
        font-size: 2.5rem;
    }
}